.header {
  width: 100%;
  background-color: purple;
}

.player {
  padding: 20px;
  border-bottom: 1px solid purple;
  font-size: 30px;
}

.counter-action {
  width: 40px;
  height: 40px;
}

.counter-score {
  font-size: 20px;
  padding: 20px;
}